<%- model_class = CarSpec -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:car_id) %></th>
      <th><%= model_class.human_attribute_name(:spec_id) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%= model_class.human_attribute_name(:value_ar) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @car_specs.each do |car_spec| %>
      <tr>
        <td><%= link_to car_spec.id, car_spec_path(car_spec) %></td>
        <td><%= link_to Car.find(car_spec.car_id).name, {:car_id => car_spec.car_id} %></td>
        <td><%= link_to Spec.find(car_spec.spec_id).name, {:spec_id => car_spec.spec_id} %></td>
        <td><%= car_spec.value %></td>
        <td><%= car_spec.value_ar %></td>
        <td><%=time_ago_in_words(car_spec.updated_at) + " ago" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_car_spec_path(car_spec), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      car_spec_path(car_spec),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_car_spec_path,
            :class => 'btn btn-primary' %>

<teet style=" margin-left: 650px; ">
<% if params[:car_id] || params[:spec_id] %>
<%= link_to "All", {:controller => 'car_specs'} ,:class => 'btn btn-primary' %>
<% end %>
</teet>
